<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Admin auth</title>
</head>
<body>
  <form  action="adminAuth" autocomplete="on" method="POST">

  <p>
  <label for="username" class="uname" data-icon="u" > Логін </label>
  <input id="username" name="login" type="text"/>
  </p>
  <p>
    <label for="password" class="youpasswd" data-icon="p"> Пароль </label>
    <input id="password" name="password" type="password"/>
  </p>
  <p class="login button">
    <input type="submit" value="Вхід" />
  </p>
</form>
</body>
</html>