@(msg:String)
<!DOCTYPE html>
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="en" class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="UTF-8" />
        <!-- <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">  -->
        <title>Помилка</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Login and Registration Form with HTML5 and CSS3" />
        <meta name="keywords" content="html5, css3, form, switch, animation, :target, pseudo-class" />
        <meta name="author" content="Codrops" />
        <link rel="shortcut icon" href="../favicon.ico">
        <link rel="stylesheet" type="text/css" href="assets/stylesheets/demo.css"/>
        <link rel="stylesheet" type="text/css" href="assets/stylesheets/style3.css"/>
		<link rel="stylesheet" type="text/css" href="assets/stylesheets/animate-custom.css"/>
    </head>
    <body>
        <div class="container">
            <header>
                <h1>Конкурсний відбір<br/><span>Національний університет веб-розробки</span></h1>

            </header>
            <section>
                <div id="container_demo" >
                    <!-- hidden anchor to stop jump http://www.css3create.com/Astuce-Empecher-le-scroll-avec-l-utilisation-de-target#wrap4  -->
                    <a class="hiddenanchor" id="toregister"></a>
                    <a class="hiddenanchor" id="tologin"></a>
                    <div id="wrapper">


                        <div id="register" class="animate form">

                            <h1> Помилка </h1>

                            <p>@msg</p>

                        </div>

                    </div>
                </div>
            </section>
        </div>
    </body>
</html>