@(znos: Seq[Discipline], fclts:Seq[Facultee])

<!DOCTYPE html>

<!--[if (gt IE 9)|!(IE)]><!--> <html lang="en" class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="UTF-8" />
        <!-- <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">  -->
        <title>Реєстраційна форма</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
        <meta name="description" content="Login and Registration Form with HTML5 and CSS3" />
        <meta name="keywords" content="html5, css3, form, switch, animation, :target, pseudo-class" />
        <meta name="author" content="Codrops" />
        <link rel="shortcut icon" href="../favicon.ico">
        <link rel="stylesheet" type="text/css" href="assets/stylesheets/demo.css"/>
        <link rel="stylesheet" type="text/css" href="assets/stylesheets/style3.css"/>
        <link rel="stylesheet" type="text/css" href="assets/stylesheets/animate-custom.css"/>
    </head>
    <body>
        <div class="container">
            <header>
                <h1>Конкурсний відбір <br/><span>Національний університет веб-розробки</span></h1>

            </header>
            <section>				
                <div id="container_demo" >
                    <!-- hidden anchor to stop jump http://www.css3create.com/Astuce-Empecher-le-scroll-avec-l-utilisation-de-target#wrap4  -->
                    <a class="hiddenanchor" id="toregister"></a>
                    <a class="hiddenanchor" id="tologin"></a>
                    <div id="wrapper">


                        <div id="register" class="animate form">
                            <form  action="registerHandler" autocomplete="on" method="post">
                                <h1> Форма для вводу персональних даних </h1>
                                <p> 
                                    <label for="usernamesignup" class="uname" data-icon="u">Ваше призвіще</label>
                                    <input id="usernamesignup" name="surname" required="required" type="text" placeholder="Іванов"/>
                                </p>
                                <p>
                                    <label for="usernamesignup" class="uname" data-icon="u">Ваше ім'я</label>
                                    <input id="usernamesignup" name="name" required="required" type="text" placeholder="Іван" />
                                </p>
                                <p>
                                    <label for="emailsignup" class="youmail"> Факультет, на який ви хочете вступити <br/> </label>
                                    <select id="emailsignup" name="facultee" required="required" type="email" placeholder="124">
                                        @for(fcl <- fclts) {
                                            <option value=@fcl.id>@fcl.name</option>
                                        }
                                    </select>
                                </p>
                                <p>
                                    <label for="emailsignup" class="youmail"> Бал ЗНО з української мови</label>
                                    <input id="emailsignup" name="zno_ukr" required="required" type="number" placeholder="124"/>
                                </p>
                                <p>
                                    <label for="emailsignup" class="youmail" > Бал ЗНО з математики</label>
                                    <input id="emailsignup" name="zno_math" required="required" type="number" placeholder="135"/>
                                </p>
                                <p>
                                    <label for="emailsignup" class="youmail" > Бал ЗНО з   </label>
                                    <select name="discipline3" >
                                        @for(zno <- znos) {
                                        <option value=@zno.id>@zno.name</option>
                                        }
                                    </select>
                                    <input id="emailsignup" name="zno_3rd" required="required" type="number" placeholder="146"/>
                                </p>
                                <p>
                                    <label for="emailsignup" class="youmail" > Середній бал атестату</label>
                                    <input id="emailsignup" name="att" required="required" type="number" placeholder="164"/>
                                </p>
                                <p>
                                    <label for="passwordsignup" class="youpasswd" data-icon="p">Ваш пароль </label>
                                    <input id="passwordsignup" name="passwordsignup" required="required" type="password" placeholder="eg. X8df!90EO"/>
                                </p>
                                <p> 
                                    <label for="passwordsignup_confirm" class="youpasswd" data-icon="p">Підтвердіть пароль </label>
                                    <input id="passwordsignup_confirm" name="passwordsignup_confirm" required="required" type="password" placeholder="eg. X8df!90EO"/>
                                </p>

                                <p class="signin button">
									<input type="submit" value="Надіслати"/>
								</p>
                                <p class="change_link">  
									Вже зареєструвались?
									<a href="login" class="to_register"> Увійти в особистий кабінет </a>
								</p>
                            </form>
                        </div>
						
                    </div>
                </div>  
            </section>
        </div>
    </body>
</html>